.icon {
  margin-right: 5px;
  padding-bottom: 5px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 30px;
  font-weight: 600;
}

.red {
  color: red;
  font-size: 35px;
}
